<h1>Messages</h1>
<% @messages.each do |message| %>
  <div>
    <h3><%= link_to "Message ##{message.id}", group_message_path(message.group, message) %></h3>
    <p>User: <%= message.user.username %></p>
    <p>Group: <%= message.group.title %></p>
    <p>Content: <%= message.content %></p>
    <p>Created at: <%= message.created_at %></p>
    <p>Updated at: <%= message.updated_at %></p>
  </div>
<% end %>
