<h1>Message Detail</h1>
<div>
  <h3>Message ##<%= @message.id %></h3>
  <p>User: <%= @message.user.username %></p>
  <p>Group: <%= @message.group.title %></p>
  <p>Content: <%= @message.content %></p>
  <p>Created at: <%= @message.created_at %></p>
  <p>Updated at: <%= @message.updated_at %></p>
</div>
<%= link_to 'Edit', edit_group_message_path(@message.group, @message) %> |
<%= link_to 'Back', group_messages_path(@message.group) %>
