<h1>Members</h1>
<div style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
  <% @group.users.each do |user| %>
    <div style="margin: 10px;">
      <div class="member">
        <% if user.photo.attached? %>
          <%= image_tag url_for(user.photo), class: "avatar", alt: "avatar" %>
        <% end %>
        <p><%= user.username %></p>
      </div>
    </div>
  <% end %>
</div>

<button type="button" class="button-34" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add members
</button>

<a href="/groups" class="btn btn-primary">Back</a>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :test, url: group_user_groups_path(@group) do |f|  %>
        <% end %>
        <form action="<%= group_user_groups_path(@group) %>" method="post" class="form-example">
          <div class="form-example">
          <% @users.each do |user| %>
            <div>
              <input type="checkbox" id="user_<%= user.id %>" name="user_id[]" value="<%= user.id %>" />
              <label for="user_<%= user.id %>"><%= user.username %></label>
            </div>
          <% end %>
          </div>
          <div class="form-example">
            <input type="submit" value="Subscribe!" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
