<%# <h1 class="members-title">Members</h1> %>
<div class="d-flex flex-direction-column align-items-center justify-content-between row pt-3 px-3" style="height: 100vh; padding-bottom: 10vh;">
  <div>
    <div class="d-flex align-items-center justify-content-center">
      <% @group.users.each do |user| %>
        <div class="member text-center px-2">
          <% if user.photo.attached? %>
            <%= image_tag url_for(user.photo), class: "avatar", alt: "avatar" %>
          <% end %>
          <p class="username"><%= user.username %></p>
        </div>
      <% end %>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <%= link_to "Voir tous les documents", documents_path, class: "text-white px-3" %>
      <button type="button" class="button-34" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add members
      </button>
    </div>
  </div>

  <div id="chat-messages" class="messages">
    <% first_date = @messages.first.created_at.strftime("%b %d") %>
    <% @messages.each do |message| %>
      <div class="message text-white d-flex flex-column">
        <% if message.created_at.strftime("%b %d") != first_date || message == @messages.first %>
          <div >
            <strong><%= message.user.username %> - <%= message.created_at.strftime("%b %d") %></strong>
          </div>
          <% first_date = message.created_at.strftime("%b %d") %>
        <% end %>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>

  <%= form_with(model: [@group, @message], local: true) do |form| %>
    <div class="d-flex">
      <%= form.text_area :content, rows: 2, class: "form-control", placeholder: "Type your message here..." %>
      <%= form.submit "Send", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Members</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="<%= group_user_groups_path(@group) %>" method="post" class="form-example">
        <div class="modal-body">
          <div class="form-example">
            <% @users.each do |user| %>
              <div>
                <input type="checkbox" id="user_<%= user.id %>" name="user_id[]" value="<%= user.id %>" />
                <label for="user_<%= user.id %>" class="username"><%= user.username %></label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="button" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="button-34" value="Add" style="padding: 8px 18px" />
        </div>
      </form>
    </div>
  </div>
</div>



<style>
  .chatroom {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
  }

  .messages {
    max-height: 50vh;
    overflow-y: auto;
  }

  .message {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }

  .members-title {
    color: white;
    font-size: 4rem; /* Ajustez la taille selon vos besoins */
    text-align: center;
    margin-bottom: 50px; /* Ajustez cette valeur selon vos besoins */
    margin-top: 20px; /* Ajoutez cette ligne pour monter le titre */
  }

  .username {
    color: white;
    font-size: 1.2rem; /* Ajustez la taille selon vos besoins */
    margin-top: 10px;
  }

  .avatar {
    width: 60px; /* Ajustez cette valeur selon vos besoins */
    height: 60px; /* Ajustez cette valeur selon vos besoins */
    border-radius: 50%; /* Pour rendre l'avatar circulaire */
    margin-bottom: 10px;
  }

  .document-card {
    height: 100px;
    width: 300px; /* Adjust the height as needed */
  }
</style>
