<h1><%= @group.title %></h1>

<div class="messages">
  <% @messages.each do |message| %>
    <div class="message">
      <strong><%= message.user.username %>:</strong>
      <%= message.content %>
    </div>
  <% end %>
</div>

<%= form_with(model: [@group, @message], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>

