<!-- app/views/shared/_navbar.html.erb -->
<div class="navbar" data-controller="navbar">


  <%= link_to root_path, class: controller_name == "pages" && action_name == "home" ? "active" : "" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>

  <%= link_to documents_path, class: controller_name == "documents" && action_name == "index" ? "active" : "" do %>
    <i class="fa-regular fa-folder-open"></i>
  <% end %>

  <a class="icon-button btn-primary" data-action="click->navbar#reveal" >
    <i class="fa-solid fa-plus"></i>
  </a>
  <div id="addDocumentSection" class="d-none py-3 px-2" data-navbar-target="form">
      <h2>Add Document</h2>
      <%= simple_form_for Document.new do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :title %>
        <%= f.input :category %>
        <%= f.input :comment %>
        <%= f.association :group %>
        <%= f.button :submit %>
      <% end %>
  </div>
  <i class="fa-regular fa-comment"></i>

  <% if user_signed_in? %>
    <i class="fa-regular fa-user"></i>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
</div>
