

<div class="navbar">
  <a href="#home" class="active"><i class="fa-solid fa-house"></i></a>
  <a href="#Documents"><i class="fa-regular fa-folder-open"></i></a>



  <a href="#Add" class="icon-button" onclick="toggleSection('addDocumentSection')"><i class="fa-solid fa-plus"></i></a>

  <div id="addDocumentSection" class="popup-container">
    <h2>Add Document</h2>
      <%= simple_form_for Document.new do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :title %>
        <%= f.input :category %>
        <%= f.input :comment %>
        <%= f.association :group %>
        <%= f.button :submit %>
      <% end %>
          </div>

  <a href="#Chat"><i class="fa-regular fa-comment"></i></a>
  <a href="#Profil"><i class="fa-regular fa-user"></i></a>

</div>
