<!-- app/views/shared/_navbar.html.erb -->
<div class="navbar" data-controller="navbar">
  <%= link_to root_path, class: controller_name == "pages" && action_name == "home" ? "active" : "" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>

  <%= link_to documents_path, class: controller_name == "documents" && action_name == "index" ? "active" : "" do %>
    <i class="fa-regular fa-folder-open"></i>
  <% end %>

  <a class="icon-button" data-bs-toggle="modal" data-bs-target="#addDocumentModal">
    <i class="fa-solid fa-plus"></i>
  </a>

  <i class="fa-regular fa-comment"></i>

  <% if user_signed_in? %>
    <i class="fa-regular fa-user"></i>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
</div>

<!-- Add Document Modal -->
<div class="modal fade" id="addDocumentModal" tabindex="-1" aria-labelledby="addDocumentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDocumentModalLabel">Add Document</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for Document.new do |f| %>
          <div class="mb-3">
            <%= f.input :photo, as: :file %>
          </div>
          <div class="mb-3">
            <%= f.input :title %>
          </div>
          <div class="mb-3">
            <%= f.association :group %>
          </div>
          <div class="mb-3">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
