<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
  <div>
    <%= image_tag "home-image.png", alt: "DocFlow", width: 440, height: 300, class:"image"%>
  </div>

  <div class= menu_create>
    <a href="#createGroupSection" class="icon-button" onclick="toggleSection('createGroupSection')"><i class="fa-solid fa-person-circle-plus"></i></a>

      <div id="createGroupSection"class="popup-container">
        <h2>Create Group</h2>
          <%= simple_form_for Group.new do |f| %>
            <%= f.input :title %>
            <%= f.input :category %>
            <%= f.button :submit %>
          <% end %>
        </div>

  </div>

</body>
</html>
