<div class="top-bar" style="position: absolute; top: 0; right: 0;">
  <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style="margin-right: 20px; margin-top: 20px;" >
</div>
<div class="container" style="">
<h2>My last group</h2>
</div>
<div class="card">
  <%=  @group.title %>
</div>
<div class="menu_create" data-controller="home">
  <a class="icon-button" data-bs-toggle="modal" data-bs-target="#addGroupModal">
    <i class="fa-solid fa-users-rays"></i>
  </a>
</div>

<a href="<%= groups_path %>" class="btn btn-outline-light">
  <h2>My Groups</h2>
</a>

<div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGroupModalLabel">Add Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @group do |f| %>
          <div class="mb-3">
            <%= f.input :photo, as: :file %>
          </div>
          <div class="mb-3">
            <%= f.input :title %>
          </div>
          <div class="mb-3">
            <%= f.input :category, collection: ['Family', 'Personal', 'Professional'] %>
          </div>
          <div class="mb-3">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
