
<div class="top-bar" style="position: absolute; top: 0; right: 0;">
  <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style="margin-right: 20px; margin-top: 20px;" >
</div>

<h2 class="title">My Groups</h2>
<div class="groups-container">
  <div class="row home-groups">
    <% @groups.each do |group| %>
      <%= link_to group_path(group), style: "text-decoration: none; color: inherit;", class: "group-card-caroussel" do %>
        <div class="card-group">
          <div class="card-home-doc">
            <% if group.photo.attached? %>
              <div style="display: flex; align-items: center;">
                <%= image_tag url_for(group.photo), class: "image-doc", style: "margin-right: 10px;" %>
                <div class="doc-title" style="font-weight: bold; color: white;">
                  <%= group.title %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h2 class="title">My last Documents</h2>
<div class="doc-home">
  <% @documents.each do |document| %>
    <div class="mb-2">
      <%= link_to document_path(document), style: "text-decoration: none; color: inherit; display: block;" do %>
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <% if document.photo.attached? %>
              <div style="display: flex; align-items: center;">
                <%= image_tag url_for(document.photo), class: "image-doc-home", style: "margin-right: 10px;" %>
                <div>
                  <div class="doc-title" style="font-weight: bold; color: white;">
                    <%= document.title %>
                  </div>
                  <% if document.group %>
                    <div class="group-title" style="margin-top: 10px; color: white;">
                      <p style="color: white;"><strong>Group:</strong> <%= document.group.title %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGroupModalLabel">Add Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @group do |f| %>
          <div class="mb-3">
            <%= f.input :photo, as: :file %>
          </div>
          <div class="mb-3">
            <%= f.input :title %>
          </div>
          <div class="mb-3">
            <%= f.input :category, collection: ['Family', 'Personal', 'Professional'] %>
          </div>
          <div class="mb-3">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
