<%= image_tag "home-image.png", alt: "DocFlow", width: 440, height: 300, class: "image" %>

<div class="menu_create" data-controller="home">
  <a class="icon-button" data-action="click->home#reveal">
    <i class="fa-solid fa-users-rays"></i>
  </a>
  <div id="addGroupSection" class="d-none" data-home-target="form">
    <h2>Add Group</h2>
    <%= simple_form_for @group do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :title %>
        <%= f.input :category %>
        <%= f.button :submit %>
    <% end %>
  </div>
</div>


<a href = "<%= groups_path %>" class="btn btn-outline-light">
<h2>My Groups</h2>
</a>

