<!-- app/views/documents/show.html.erb -->
<h1 class="my-4">Document Detail</h1>
<div class="container">
  <% if @document.photo.present? && @document.photo.key.present? %>
    <div class="h-40 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@document.photo.key, height: 300, crop: :fill) %>'); height: 20vh;">
    </div>
  <% else %>
    <div class="h-40 mb-4 d-flex align-items-center justify-content-center" style="background-color: grey; height: 20vh;">
      <p class="text-center text-white">No photo available</p>
    </div>
  <% end %>
  <h3><%= @document.title %></h3>
  <p><strong>Category:</strong> <%= @document.category %></p>
  <p><strong>Comment:</strong> <%= @document.comment %></p>
  <p><strong>User:</strong> <%= @document.user.username %></p>
  <p><strong>Group:</strong> <%= @document.group.title %></p>

  <%= link_to 'Back', documents_path, class: 'btn btn-secondary mt-3' %>
</div>

