<!-- app/views/documents/show.html.erb -->
<div class="container" style="max-width: 400px; margin: 41px auto; border-radius: 25px; padding: 20px; height: calc(72vh - 80px); overflow-y: auto; position: relative;">
  <% if @document.photo.present? && @document.photo.key.present? %>
    <div class="h-40 mb-4" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.82)), url('<%= cl_image_path(@document.photo.key, height: 300, crop: :fill) %>'); height: 20vh; border-radius: 25px; background-size: cover; background-position: center;">
      <div style="position: absolute; top: 10px; right: 10px;">
        <% if @document.user.photo.attached? %>
          <%= image_tag url_for(@document.user.photo), class: 'img-fluid rounded-circle', style: 'width: 50px; height: 50px; border: 2px solid #FDD853;' %>
        <% else %>
          <span><%= @document.user.username %></span>
        <% end %>
      </div>
      <div style="position: absolute; bottom: 40px; left: 20px; color: white; font-weight: bold; font-size: 1.5rem;">
        <%= @document.title %>
      </div>
      <div style="position: absolute; bottom: 10px; left: 20px; color: white; font-weight: bold; font-size: 1.2rem;">
        Group: <%= @document.group.title %>
      </div>
    </div>
  <% else %>
    <div class="h-40 mb-4 d-flex align-items-center justify-content-center" style="background-color: grey; height: 20vh; border-radius: 25px;">
      <p class="text-center text-white">No photo available</p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center mb-4">
        <%= link_to group_path(@document.group), class: 'btn btn-outline-primary btn-sm mx-2', style: 'border-radius: 12px; padding: 6px 12px; color: white; border-color: white;' do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        <%= link_to 'Assign', new_document_assignement_path(@document), class: 'btn btn-outline-primary btn-sm mx-2', style: 'border-radius: 12px; padding: 6px 12px; color: white; border-color: white;' %>
        <button type="button" class="btn btn-outline-primary btn-sm mx-2" style="border-radius: 12px; padding: 6px 12px; color: white; border-color: white;" data-bs-toggle="modal" data-bs-target="#viewDocumentModal">
          <i class="fa-solid fa-arrows-to-eye"></i>
        </button>
      </div>

      <div class="d-flex align-items-center mb-2">
        <strong style="margin-right: 10px;"></strong>
      </div>

      <div class="d-flex flex-column mb-2;">
        <% if @document.assignements.any? %>
          <% @document.assignements.each do |assignement| %>
            <div class="d-flex flex-column mt-2">
              <div class="d-flex align-items-center">
                <strong style="margin-right: 10px; color: white; font-size: 1.3rem;">TODO :</strong>
                <span style="color: white; font-size: 1.1rem;"><%= assignement.comment %></span>
              </div>
              <div class="d-flex align-items-center">
                <strong style="margin-right: 10px; color: #FDD853; font-size: 1.3rem;">Assigned to :</strong>
                <% if assignement.user.photo.attached? %>
                  <%= image_tag url_for(assignement.user.photo), class: 'img-fluid rounded-circle', style: 'width: 30px; height: 30px; border: 2px solid #FDD853;' %>
                <% else %>
                  <span style="color: white; font-size: 1.1rem;"><%= assignement.user.username %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewDocumentModal" tabindex="-1" aria-labelledby="viewDocumentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewDocumentModalLabel" style="font-size: 1.8rem; color: #6a1b9a; font-weight: bold;"><%= @document.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <% if @document.photo.present? && @document.photo.key.present? %>
          <%= image_tag cl_image_path(@document.photo.key, width: 800, crop: :fill), alt: @document.title, style: "max-width: 100%; height: auto; border-radius: 10px;" %>
        <% else %>
          <p>No photo available</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
